In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
from scipy.signal import find_peaks

In [2]:
df = pd.read_csv('../../documents/data/previous_data/5555_eventos-edit.csv', index_col=0)
df = df.drop('time', axis=1)

In [3]:
df

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_5545,event_5546,event_5547,event_5548,event_5549,event_5550,event_5551,event_5552,event_5553,event_5554
0,56.0,56.0,56.0,53.0,55.0,55.0,54.0,54.0,54.0,54.0,...,54.0,54.0,53.0,53.0,51.0,51.0,51.0,51.0,51.0,51.0
1,55.0,55.0,55.0,53.0,55.0,55.0,54.0,54.0,54.0,54.0,...,52.0,52.0,52.0,52.0,52.0,51.0,51.0,51.0,51.0,51.0
2,53.0,53.0,53.0,51.0,53.0,53.0,55.0,55.0,55.0,55.0,...,53.0,53.0,53.0,53.0,50.0,55.0,55.0,55.0,55.0,55.0
3,53.0,53.0,53.0,52.0,53.0,53.0,54.0,54.0,54.0,54.0,...,53.0,53.0,53.0,53.0,50.0,55.0,55.0,55.0,55.0,55.0
4,54.0,54.0,54.0,53.0,55.0,55.0,55.0,55.0,55.0,55.0,...,51.0,51.0,53.0,53.0,52.0,54.0,54.0,54.0,54.0,54.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,53.0,53.0,53.0,54.0,55.0,55.0,22.0,22.0,22.0,22.0,...,54.0,54.0,50.0,50.0,50.0,52.0,52.0,52.0,52.0,52.0
2496,55.0,55.0,55.0,54.0,56.0,56.0,14.0,14.0,14.0,14.0,...,50.0,50.0,51.0,51.0,53.0,51.0,51.0,51.0,51.0,51.0
2497,52.0,52.0,52.0,53.0,53.0,53.0,37.0,37.0,37.0,37.0,...,53.0,53.0,51.0,51.0,53.0,52.0,52.0,52.0,52.0,52.0
2498,52.0,52.0,52.0,53.0,54.0,54.0,51.0,51.0,51.0,51.0,...,52.0,52.0,53.0,53.0,52.0,52.0,52.0,52.0,52.0,52.0
2499,53.0,53.0,53.0,52.0,55.0,55.0,47.0,47.0,47.0,47.0,...,53.0,53.0,52.0,52.0,52.0,54.0,54.0,54.0,54.0,54.0

In [4]:
# sns.histplot(data=df.event_0)

In [5]:
# data_entries, bins_edges = np.histogram(df.event_0 , bins=10)
    
# dt = bins_edges[1] - bins_edges[0]
# centers = np.array([ bins_edges[i] + dt/2 for i in range(len(bins_edges)-1) ])

In [6]:
%%time
from Exp_Fit import Find_Peaks_Waveforms

Wall time: 6 ms

In [7]:
%%time
Find_Peaks_Waveforms(df)

Wall time: 5.79 s

            peak_X0  peak_X1  peak_Y0  peak_Y1
event_0        94.0   1111.0    127.0    127.0
event_1        94.0   1111.0    127.0    127.0
event_2        94.0   1111.0    127.0    127.0
event_3        94.0    322.0    127.0    127.0
event_4        94.0   1815.0    127.0     32.0
...             ...      ...      ...      ...
event_5550     93.0   1736.0      4.0    127.0
event_5551     93.0   1736.0      4.0    127.0
event_5552     93.0   1736.0      4.0    127.0
event_5553     93.0   1736.0      4.0    127.0
event_5554     93.0   1736.0      4.0    127.0

[5555 rows x 4 columns]