In [2]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.signal import find_peaks

In [3]:
# df = pd.read_csv('../documents/data/previous_data/5555_eventos-edit.csv', index_col=0)
# df = df.drop('time', axis=1)

# # A preliminar analysis show that the base line value is the following:
# baseLine_value = 52.45771253239545
# # it'll not be necessary in a future analysis, cause the conversion parameters will be retrieved from the scope on the acquisition moment.

# waveforms = df - baseLine_value
# waveforms

In [10]:
df = pd.read_csv('../documents/data/1617216912.6844587/1617216912.6844587_2044-events_2-events.csv', index_col=0)

df

C:\.Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (1,103,205,307,409,511,614,715,818,921,1023,1125,1229,1334,1436,1539,1640,1741,1842,1943) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_2034,event_2035,event_2036,event_2037,event_2038,event_2039,event_2040,event_2041,event_2042,event_2043
0,time_epoch,1.617217e+09,1.617217e+09,1.617217e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,...,1.617469e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617471e+09,1.617471e+09,1.617471e+09
1,0,5.100000e+01,5.000000e+01,5.500000e+01,5.500000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.000000e+01,...,5.200000e+01,5.000000e+01,5.500000e+01,5.100000e+01,5.300000e+01,5.500000e+01,5.000000e+01,5.300000e+01,5.200000e+01,5.300000e+01
2,1,5.100000e+01,5.100000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,5.600000e+01,5.600000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.200000e+01
3,2,5.300000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.400000e+01,5.200000e+01,5.400000e+01,...,5.200000e+01,5.100000e+01,4.800000e+01,5.300000e+01,5.500000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01
4,3,5.000000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,5.000000e+01,5.200000e+01,5.500000e+01,5.100000e+01,4.900000e+01,5.300000e+01,5.400000e+01,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2496,2495,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.100000e+01,5.200000e+01,...,5.200000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.400000e+01
2497,2496,5.400000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.100000e+01,...,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01
2498,2497,5.200000e+01,4.900000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.300000e+01,5.100000e+01,...,5.200000e+01,5.400000e+01,5.100000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.500000e+01,5.100000e+01,5.400000e+01,5.100000e+01
2499,2498,5.100000e+01,4.900000e+01,5.300000e+01,5.000000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,...,5.400000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.200000e+01
2500,2499,5.300000e+01,5.100000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.500000e+01,5.300000e+01,5.100000e+01,5.300000e+01,...,5.100000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.600000e+01

In [ ]:
from Analyze.results import Results_Analyze, plots_collection
df_filt, results = Results_Analyze(waveforms=waveforms, height=baseLine_value)

In [ ]:
df_filt.head()

In [ ]:
results.head()

In [ ]:
plots_collection(results=results)

In [ ]:
results_filt_integral = results.query("integrals_0 < integrals_1")
plots_collection(results_filt_integral)

In [ ]:
results_filt_peaks = results.query("peak_Y0 < 179 and peak_Y1 < 179")
plots_collection(results_filt_peaks)