In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.signal import find_peaks

In [33]:
df1 = pd.read_csv('../documents/data/1617480254.9367738/3018_events.csv', index_col=0)
df2 = pd.read_csv('../documents/data/1617216912.6844587/1617216912.6844587_2044-events_2-events.csv', index_col=0)

C:\.Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\.Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,102,204,306,408,510,613,714,817,920,1022,1124,1228,1333,1435,1538,1639,1740,1841,1942) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [34]:
df1

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_3008,event_3009,event_3010,event_3011,event_3012,event_3013,event_3014,event_3015,event_3016,event_3017
time_epoch,1.617480e+09,1.617480e+09,1.617480e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,...,1.617596e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09,1.617597e+09
0,5.200000e+01,5.200000e+01,5.200000e+01,5.100000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.000000e+01,...,5.000000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.400000e+01,5.200000e+01,5.200000e+01,5.400000e+01,5.200000e+01,5.200000e+01
1,5.400000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.000000e+01,5.200000e+01,...,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.500000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01
2,5.100000e+01,5.200000e+01,5.100000e+01,5.100000e+01,4.900000e+01,5.200000e+01,5.500000e+01,5.400000e+01,5.200000e+01,5.200000e+01,...,5.300000e+01,5.100000e+01,5.000000e+01,5.100000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.100000e+01,5.400000e+01
3,5.300000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,...,5.400000e+01,5.200000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,5.000000e+01,5.400000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.500000e+01,...,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.000000e+01,5.400000e+01,5.200000e+01,5.200000e+01,5.300000e+01
2496,5.300000e+01,5.400000e+01,5.000000e+01,5.200000e+01,5.100000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.300000e+01,...,5.300000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.100000e+01
2497,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.000000e+01,5.300000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.100000e+01,...,5.100000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.000000e+01
2498,5.200000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,...,5.300000e+01,5.300000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.400000e+01
2499,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.100000e+01,5.600000e+01,5.300000e+01,5.400000e+01,...,5.200000e+01,5.300000e+01,5.500000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.300000e+01

In [35]:
df2

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_2033,event_2034,event_2035,event_2036,event_2037,event_2038,event_2039,event_2040,event_2041,event_2042
time_epoch,1.617217e+09,1.617217e+09,1.617217e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617219e+09,...,1.617469e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617471e+09,1.617471e+09,1.617471e+09
0,5.100000e+01,5.000000e+01,5.500000e+01,5.500000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.000000e+01,5.600000e+01,...,5.200000e+01,5.000000e+01,5.500000e+01,5.100000e+01,5.300000e+01,5.500000e+01,5.000000e+01,5.300000e+01,5.200000e+01,5.300000e+01
1,5.100000e+01,5.100000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,...,5.200000e+01,5.100000e+01,5.600000e+01,5.600000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.200000e+01
2,5.300000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,4.800000e+01,5.300000e+01,5.500000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01
3,5.000000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,...,5.200000e+01,5.100000e+01,5.000000e+01,5.200000e+01,5.500000e+01,5.100000e+01,4.900000e+01,5.300000e+01,5.400000e+01,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.300000e+01,...,5.200000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.400000e+01
2496,5.400000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.100000e+01,5.200000e+01,...,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01
2497,5.200000e+01,4.900000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.400000e+01,...,5.200000e+01,5.400000e+01,5.100000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.500000e+01,5.100000e+01,5.400000e+01,5.100000e+01
2498,5.100000e+01,4.900000e+01,5.300000e+01,5.000000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.200000e+01,...,5.400000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.200000e+01
2499,5.300000e+01,5.100000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.500000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.400000e+01,...,5.100000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.600000e+01

In [67]:
lista = ['time_epoch']
lista.extend(range(2500))
df2.index = lista
df2

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_2033,event_2034,event_2035,event_2036,event_2037,event_2038,event_2039,event_2040,event_2041,event_2042
time_epoch,1.617217e+09,1.617217e+09,1.617217e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617218e+09,1.617219e+09,...,1.617469e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617471e+09,1.617471e+09,1.617471e+09
0,5.100000e+01,5.000000e+01,5.500000e+01,5.500000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.000000e+01,5.600000e+01,...,5.200000e+01,5.000000e+01,5.500000e+01,5.100000e+01,5.300000e+01,5.500000e+01,5.000000e+01,5.300000e+01,5.200000e+01,5.300000e+01
1,5.100000e+01,5.100000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,...,5.200000e+01,5.100000e+01,5.600000e+01,5.600000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.200000e+01
2,5.300000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,4.800000e+01,5.300000e+01,5.500000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01
3,5.000000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,...,5.200000e+01,5.100000e+01,5.000000e+01,5.200000e+01,5.500000e+01,5.100000e+01,4.900000e+01,5.300000e+01,5.400000e+01,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.300000e+01,...,5.200000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.400000e+01
2496,5.400000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.100000e+01,5.200000e+01,...,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01
2497,5.200000e+01,4.900000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.300000e+01,5.100000e+01,5.400000e+01,...,5.200000e+01,5.400000e+01,5.100000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.500000e+01,5.100000e+01,5.400000e+01,5.100000e+01
2498,5.100000e+01,4.900000e+01,5.300000e+01,5.000000e+01,5.100000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.200000e+01,...,5.400000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.200000e+01
2499,5.300000e+01,5.100000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.500000e+01,5.300000e+01,5.100000e+01,5.300000e+01,5.400000e+01,...,5.100000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.600000e+01

In [70]:
df = pd.concat([df1, df2], axis=1)
df

,event_0,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,...,event_2033,event_2034,event_2035,event_2036,event_2037,event_2038,event_2039,event_2040,event_2041,event_2042
time_epoch,1.617480e+09,1.617480e+09,1.617480e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,1.617481e+09,...,1.617469e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617470e+09,1.617471e+09,1.617471e+09,1.617471e+09
0,5.200000e+01,5.200000e+01,5.200000e+01,5.100000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.000000e+01,...,5.200000e+01,5.000000e+01,5.500000e+01,5.100000e+01,5.300000e+01,5.500000e+01,5.000000e+01,5.300000e+01,5.200000e+01,5.300000e+01
1,5.400000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.000000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,5.600000e+01,5.600000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.200000e+01
2,5.100000e+01,5.200000e+01,5.100000e+01,5.100000e+01,4.900000e+01,5.200000e+01,5.500000e+01,5.400000e+01,5.200000e+01,5.200000e+01,...,5.200000e+01,5.100000e+01,4.800000e+01,5.300000e+01,5.500000e+01,5.100000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01
3,5.300000e+01,5.400000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,...,5.200000e+01,5.100000e+01,5.000000e+01,5.200000e+01,5.500000e+01,5.100000e+01,4.900000e+01,5.300000e+01,5.400000e+01,5.000000e+01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,5.000000e+01,5.400000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.400000e+01,5.500000e+01,...,5.200000e+01,5.300000e+01,5.200000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.400000e+01,5.100000e+01,5.200000e+01,5.400000e+01
2496,5.300000e+01,5.400000e+01,5.000000e+01,5.200000e+01,5.100000e+01,5.300000e+01,5.400000e+01,5.300000e+01,5.300000e+01,5.300000e+01,...,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.100000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.200000e+01,5.100000e+01
2497,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,5.000000e+01,5.300000e+01,5.400000e+01,5.400000e+01,5.200000e+01,5.100000e+01,...,5.200000e+01,5.400000e+01,5.100000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.500000e+01,5.100000e+01,5.400000e+01,5.100000e+01
2498,5.200000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.200000e+01,5.300000e+01,...,5.400000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.000000e+01,5.200000e+01,5.200000e+01
2499,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.400000e+01,5.300000e+01,5.100000e+01,5.600000e+01,5.300000e+01,5.400000e+01,...,5.100000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.300000e+01,5.200000e+01,5.200000e+01,5.200000e+01,5.300000e+01,5.600000e+01

In [71]:
df.to_csv(f'{df.shape[1]}_events.csv')